<tr class="{CSS_ROW}">
<!-- BEGIN evento_id_td -->
    <td class="std">{EVENTO_ID}</td>
<!-- END evento_id_td -->

<!-- BEGIN login_td -->
    <td class="std">{LOGIN}</td>
<!-- END login_td -->

<!-- BEGIN gender_td -->
    <td class="std">{GENDER}</td>
<!-- END gender_td -->

<!-- BEGIN first_name_td -->
    <td class="std">{FIRST_NAME}</td>
<!-- END first_name_td -->

<!-- BEGIN last_name_td -->
    <td class="std">{LAST_NAME}</td>
<!-- END last_name_td -->

<!-- BEGIN mail_td -->
    <td class="std">{MAIL}</td>
<!-- END mail_td -->

<!-- BEGIN last_import_td -->
    <td class="std">{LAST_IMPORT}</td>
<!-- END last_import_td -->

<!-- BEGIN update_infocode_td -->
    <td class="std" style="color:{INFOCODE_COLOR}">{UPDATE_INFOCODE}</td>
<!-- END update_infocode_td -->

<!-- BEGIN last_import_data_td -->
    <td class="std">{DATA_BUTTON}</td>
<!-- END last_import_data_td -->
</tr>