<tr class="{CSS_ROW}">
<!-- BEGIN login_td -->
    <td class="std"><a href="{USER_LINK}">{LOGIN}</a></td>
<!-- END login_td -->

<!-- BEGIN course_td -->
    <td class="std"><a href="{COURSE_LINK}">{COURSE}</a></td>
<!-- END course_td -->

<!-- BEGIN role_td -->
    <td class="std"><a href="{ROLE_LINK}">{ROLE_NAME}</a></td>
<!-- END role_td -->

<!-- BEGIN last_import_td -->
    <td class="std">{LAST_IMPORT}</td>
<!-- END last_import_td -->

<!-- BEGIN update_infocode_td -->
    <td class="std" style="color:{INFOCODE_COLOR}">{UPDATE_INFOCODE}</td>
<!-- END update_infocode_td -->

<!-- BEGIN last_import_data_td -->
    <td class="std">{DATA_BUTTON}</td>
<!-- END last_import_data_td -->
</tr>